<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74949964677-6v2r1orscktp3gt5rrfhndd4atq1ql33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74949964677-6v2r1orscktp3gt5rrfhndd4atq1ql33</string>
	<key>API_KEY</key>
	<string>AIzaSyCBdE3o1nkztmLwIZBMjmmxtHpV5_fUWQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>74949964677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-20953</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-20953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74949964677:ios:ae643c1a75f8ac9a6d0aec</string>
</dict>
</plist>