<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74949964677-1ecr1b3uf0h77m8i2hkfcjtlea722v1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74949964677-1ecr1b3uf0h77m8i2hkfcjtlea722v1g</string>
	<key>API_KEY</key>
	<string>AIzaSyCBdE3o1nkztmLwIZBMjmmxtHpV5_fUWQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>74949964677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-20953</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-20953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74949964677:ios:aa784ae22dbae4b76d0aec</string>
</dict>
</plist>